body {
   background-size: 1700px;
}

h1{
    color:blueviolet;
}

h1{
    padding-left: 580px;
}

p{
    padding-top:  500px;
    padding-left: 500px;
    text-align: center;
}

section img{
    height: 300px;
    width:auto;
}

footer img{
    height:50px;
}

#wrapper {
    max-width: 940em;
    margin: 0 auto;
}
.center{
    text-align: center;
}

#logo {
  text-align: center;
  margin: 0;
}

header {
  background:#faceff;
}

v a, nav a:visited {
    color: #fff;
}nav a, nav a:visited {
    color: #bb5073;
}

nav a.selected, a:hover {
    color: #7d26cd;
} 
.link{
    
}

h1 {
    padding-left: 0px;
}

h1 {
    font-family: 'Itim', cursive;
}

header {
    font-family: 'Itim', cursive;
}

#gallery {
    margin: 0;
    padding:0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 35%;
    margin: 1%;
    background-color: #F8BBD0;
    color: #727272;
}

img {
    max-width: 100%;
}
    
gallery li a p {
    margin:0;
    padding: 5%;
    font-size: 0.75em;
    color:#d62d20;
    
}

footer {
    padding-top: 700px;
    padding-right: 350px;
}
li {
    list-style: none;
    display: inline-block;
    margin: 7px;
    font-size: 1.5em;
}

#nav {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 90px;
}
